{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}

    <div class="row mt-2">
        {% for picture in pictures %}
            <div class="card col-4 mx-2">
                <img src="{{ path('get_picture_content', {'picture': picture.getId()}) }}"
                     class="card-img-top"
                     alt="{{ picture.getTitle() }}"
                >
                <div class="card-body">
                    <h5 class="card-title">{{ picture.getTitle() }}</h5>
                    <p class="card-text">{{ picture.getDescription() }}</p>
                    <p class="card-text"><email class="text-muted">{{ picture.getSharer().getUsername() }}</email></p>
                    <p>
                        {% for tag in picture.getTags() %}
                            <span class="badge badge-info">{{ tag.getLabel() }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
            </div>

            <div class="count my-4">
                {{ 'HOME.ITEM_COUNT'|trans }}{{ pictures.getTotalItemCount }}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pictures) }}
            </div>

    <p>The color of the day is: {{ color|default('red') }}</p>

    {#{{ currentDate|date('Y-m-d H:i:s')|upper|raw }}#}
    {% set itemList =[1,2,50,8,7,654,24] %}
    {#{% set currentDate = date() %}#}

    <ul>
    {% for item in itemList %}
        {% if item is odd %}
           <li>{{ item }}</li>
        {% endif %}
    {% endfor %}
    </ul>

    {% for i in range(0,10) %}
        {% if loop.last %}
        <br>
        {% endif %}
        {{ i }}
    {% endfor %}

{% endblock %}

