<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Title</title>

    </head>
    <body>
        {% block navbar %}
        <nav style="background-color: #cccccc;">
            <ul style="list-style: none; display: flex;">
                <li style="margin-right: 20px; border: 1px solid grey; padding: 20px;"><a href="{{ path('homepage') }}">
                       {{ 'NAV.HOME'|trans }}
                    </a></li>
                {#<li style="margin-right:20px; border: 1px solid grey; padding: 20px;"><a href="{{ path('terms of services') }}">Terms</a></li>#}
                <li style="margin-right: 20px; border: 1px solid grey; padding: 20px;"><a href="/terms">
                        {{ 'NAV.TERMS'|trans }}
                    </a></li>
                <li style="margin-right: 20px; border: 1px solid grey; padding: 20px;"><a href="{{ path('app_login') }}">
                        {{ 'NAV.LOGIN'|trans }}
                    </a></li>
                <li style="border: 1px solid grey; padding: 20px;"><a href="{{ path('app_register') }}">
                        {{ 'NAV.REGISTER'|trans }}
                    </a></li>
            </ul>
        </nav>

        {% endblock %}
    </body>
</html>